:root {
    --purple-dark: #382194;
    --purple-light: #5840ba;
    --text-color: #646363;
    --bg-gray: #f6f6f7;
}

* {
    font-family: "Inter", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}
