:root {
    --purple-dark: #382194;
    --purple-light: #5840ba;
    --text-color: #646363;
    --bg-gray: #f6f6f7;
}

* {
    font-family: "Inter", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    background-color: var(--bg-gray);
    padding: 30px 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-inline: auto;
}

/* Header */
.header {
    background-color: var(--purple-dark);
    padding: 10px 0;
}

/* Conteúdo Principal */
.titulo-principal {
    color: var(--purple-light);
    text-align: center;
    font-weight: 900;
    margin: 0;
}

.descricao-convidados {
    color: var(--text-color);
    text-align: center;
}

input[name="convidados"] {
    display: block;
    margin-inline: auto;
}

input {
    border: solid 1px #d9d9d9;
    border-radius: 5px;
    padding: 10px;
}

input:focus {
    border-color: #979797;
    outline: none;
}

.blocos-editaveis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 50px;
    padding: 30px 0;
}










/* Footer */
.footer {
    background-color: var(--purple-dark);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #fff;
}